@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?12ahdk');
  src:  url('../icons/icomoon.eot?12ahdk#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?12ahdk') format('truetype'),
    url('../icons/icomoon.woff?12ahdk') format('woff'),
    url('../icons/icomoon.svg?12ahdk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e90d";
}
.icon-video:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
